html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .label {
  display: block;
  font-size: 14px;
  text-align: left;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"]:focus,
.form-signin input[type="text"]:focus{
  box-shadow: none;
  border-color: #2f2e33;
  border-width: 1px;
}
.form-signin .btn.btn-primary{
  font-size: 16px;
}
.form-signin .btn.btn-primary,
.form-signin .btn.btn-primary:active {
  background: #ee4351;
  border-color: #ee4351;
}
.form-signin .btn.btn-primary:visited,
.form-signin .btn.btn-primary:focus {
  background: #ee4351;
  border-color: #ee4351;
  box-shadow: 0 0 0 .2rem #ee4351;  
 }